@media only screen and (min-width: 767px) {

/*-----------------------Navigation--------------------------------------*/

	.contentcontainer {
		width: 85%;
	}

	#title {
		flex: 1;
	}

	#titleanim {
		/*visibility: hidden;*/
		margin-left: 31.25%;
	}
	#titleanim2 {
		/*visibility: hidden;*/
		margin-left: 31.25%;
	}

	@keyframes titleanimationtwo {
	    from {width: 0%;}
	    to {width: 98%;}
	}

	#navcontain {
		flex-direction: row;
		justify-content: space-around;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	#navbutton {
		visibility: hidden;
	}

	#headline {
		font-size: 4rem;
	}

	.linksholder {
		flex-direction:  row;
		position: static;
		opacity: 1;
		visibility: visible;
		align-items: center;
		border: none;
	}

	.linkBckgrnd {
		background-color: rgba(236,236,236,0);
	}

	.navelement {
		margin-right: 20px;
}

/*-----------------------Photoboxes-------------------------------------*/

	.phototext {
		width: 20%;
	}

	.objectlarge {
		width: 50%;
		font-size: 3rem;
	}

	.textlarge {
		width: 45%;
		font-size: 3rem;
	}


/*-----------------------homepage-------------------------------------*/	

#backgroundimg {
}

/*.centercontainer {
	width: 85%;
}*/

.rowcolcontainer {
	flex-direction: row;
}

.centerbox {
	width: 100%;
	margin-top: 90px;
	margin-bottom: 90px;
}

.box1 {
	width: 100%;
}

.abscontainercolumn {
	width: 80%;
}

.textbox {
	font-size: 3rem;
	padding: 15px;
	margin: 8px;
}

.textsmall {
	font-size: 1.8rem;
}

.divider {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.margin {
	margin: 4px;
}

/*---------------------------------GALLERY PAGE------------------------------*/

/*.photocontainer {
	display:grid;
	width: 100%;
	grid-template-columns: repeat(4 ,1fr);
	grid-template-rows: auto;
}*/

#c1{} #c2{} #c3{display:flex;} #c4{display:none;}

.pic {
	width: 100%;
	padding:2px 2px 2px 2px;
}

.photocolumn {
	display: flex;
	flex-direction: column;
	transition: width 1s;
	width: 33%;
}

#anewbox {
	width: 100%;
	column-count: 3;
}

}