@media only screen and (min-width: 767px) {

/*-----------------------Navigation--------------------------------------*/

	#mobilejsquery {display: none;} #tabletjsquery{display: block;} #desktopjsquery {display: none;}

/*	.contentcontainer {
		width: 85%;
	}*/

	#title {
		flex: 1;
	}

	#titleanim {
	}
	#titleanim2 {
	}

	#navcontain {
		flex-direction: row;
		justify-content: space-around;
	}

	.navbutton {
		visibility: hidden;
	}

	#headline {
		font-size: 4rem;
	}

	.linksholder {
		flex-direction:  row;
		position: static;
		opacity: 1;
		visibility: visible;
		align-items: center;
		border: none;
	}

	.linkBckgrnd {
		background-color: rgba(236,236,236,0);
	}

	.navelement {
		margin-right: 20px;
}

/*-----------------------Photoboxes-------------------------------------*/

	.phototext {
		width: 20%;
	}

	.objectlarge {
		width: 50%;
		font-size: 3rem;
	}

	.textlarge {
		width: 45%;
		font-size: 3rem;
	}


/*-----------------------homepage-------------------------------------*/	

.backgroundimg {
	object-fit: cover;
	height: 700px;
	display: flex;
	width: 100%;
}

/*.centercontainer {
	width: 85%;
}*/

.rowcolcontainer {
	flex-direction: row;
}

.homecontainer {
	height: 700px;
}

.centerbox {
	width: 100%;
	margin-top: 90px;
	margin-bottom: 90px;
}

.box1 {
	width: 100%;
}

.abscontainercolumn {
	width: 80%;
}

.header {
	font-size: 4rem;
}

.textbox {
	width:80%;
	font-size: 2.5rem;
	padding: 15px;
	margin: 8px;
}

.textsmall {
	font-size: 1.8rem;
}

.divider {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.margin {
	margin: 4px;
}

.t1 {
	font-size: 8rem;
	letter-spacing: 20px;
	margin-left: 20px;
}

.t2 {
	font-size: 8rem;
	letter-spacing: 20px;
	margin-left: 20px
}

.linkimg {
	height: 300px;
}

.backgroundimglink {
	height: 200px;
	filter: brightness(100%);
}

.whitetextlink {
	font-size: 8rem;
	letter-spacing: 5px;
}

.pageheaderimg {
	height: 200px;
}

.myfooter {
}

/*---------------------------------GALLERY PAGE------------------------------*/

/*.photocontainer {
	display:grid;
	width: 100%;
	grid-template-columns: repeat(4 ,1fr);
	grid-template-rows: auto;
}*/

#c1{} #c2{} #c3{display:flex;} #c4{display:none;}

.pic {
	width: 100%;
	padding:2px 2px 2px 2px;
}

.photocolumn {
	display: flex;
	flex-direction: column;
	transition: width 1s;
	width: 33%;
}

.anewbox {
	width: 100%;
	column-count: 3;
	column-fill: auto;
}

/*---------------------------------PROJECTS PAGE------------------------------*/

.workshopbox {

}

.workshoppic {

}

.workshopgrid {
	grid-template-columns: repeat(2 ,1fr);
}

.workshoptab {
	font-size: 1.55rem;
}

.workshoptitle {
	font-size: 2.5rem;
}

.workshoptexttitle {
	font-size: 1.55rem;
	padding: 5%;
}

.workshoptext {
	font-size: 1.5rem;
}

.workshopform {
	font-size: 2.2rem;
}

}

@media only screen and (min-width: 900px) {

/*These are needed because i couldnt find a better solution to resizing my angular.ui.bootstrap tabs than extra media queries for their font sizes*/

.workshoptab {
	font-size: 2rem;
}

.workshoptitle {
	font-size: 2.5rem;
}

.workshoptexttitle {
	font-size: 2rem;
	padding: 5%;
}

.workshoptext {
	font-size: 1.75rem;
}

/*---------------------------------BOOKINGS PAGE------------------------------*/

.formtext {
	font-size: 2.5rem;
	padding: 15px;
	margin: 8px;
}

.formtextsmall {
	font-size: 1.8rem;
}

}