@media only screen and (min-width: 1440px) {

	.textbox {
		font-size: 3rem;
		padding: 30px;
		margin: 10px;
	}

	.textsmall {
		font-size: 2.3rem;
	}

	.phototext {
		font-size: 2.3rem;
	}

	#c1 {
		transition: width 1s;
		width: 40%;
	}

	#c2{} #c3{display:flex;} #c4{display:flex;}

	.photocolumn {
		display: flex;
		flex-direction: column;
		transition: width 1s;
		width: 20%;
	}

	/*--------column method ---------*/

	#anewbox {
		width: 100%;
		column-count: 4;
	}

}
