@media only screen and (min-width: 1440px) {

	#mobilejsquery {display: none;} #tabletjsquery{display: none;} #desktopjsquery {display: block;}

	.textbox {
		font-size: 3rem;
		padding: 30px;
		margin: 10px;
	}

	.textsmall {
		font-size: 2.3rem;
	}

	.phototext {
		font-size: 2.3rem;
	}

	#c1 {
		transition: width 1s;
		width: 40%;
	}

	#c2{} #c3{display:flex;} #c4{display:flex;}

	.photocolumn {
		display: flex;
		flex-direction: column;
		transition: width 1s;
		width: 20%;
	}

	#t1 {
		font-size: 12rem;
		letter-spacing: 50px;
		margin-left: 50px;
	}

	#t2 {
		font-size: 12rem;
		letter-spacing: 50px;
		margin-left: 50px;
	}

	.linkimg {
		height: 400px;
	}


/*---------------------------------PROJECTS PAGE------------------------------*/

	.workshopbox {
		font-size: 12px;
	}

	.workshoppic {
			height: 400px;
	}

	.workshopgrid {
		grid-template-columns: repeat(3 ,1fr);
	}

	.workshoptab {
		font-size: 2.2rem;
	}

	.workshoptext {
		font-size: 1.5rem;
	}

}
