@media only screen and (max-width: 319px) {

html {font-family: "Source Sans Pro", Sans-Serif; font-size: 6px; font-weight: 200;}
body {font-family: "Source Sans Pro", Sans-Serif; font-size: 6px; font-weight: 200;}

}
