<div class="pagecontainer">
	<div class="contentcontainer">

		<div class="centercontainer"> 
			<div class="centercontainer imagelinkscontainer">
				<img class="pageheaderimg" src="images/background16.jpg">
				<p class="absbox whitetextlink">Booking</p>
			</div>
		</div>

		<div class="centercontainer">
			<div class="divider"></div>
		</div>

		<div class="centercontainer">
			<div class="centerbox">
				<h1 class="header">Where to go now?</h1>
				<div class="rowcolcontainer">
					<div class="textbox">
						Here you can find all our contact information to arrange booking a workshop and a list of our current open classes. If your interested in eco friendly landscaping services look for geoponics landscaping.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>