
<head>
	<title>Gallery</title>

	<style type="text/css">

	.pagewrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.photocontainer {
		display:grid;
		width: 80%;
		grid-template-columns: repeat(4 ,1fr);
		grid-template-rows: auto;
	}

	.pic {
		width:100%;
	}

	</style>

</head>

<body>
	<div class="contentcontainer">
		<div class="pagewrapper">
			<div class="photocontainer">
				<img class="pic" src="images/p1.jpg">
				<img class="pic" src="images/p2.jpg">
				<img class="pic" src="images/p3.jpg">
				<img class="pic" src="images/p4.jpg">
				<img class="pic" src="images/p5.jpg">
				<img class="pic" src="images/p6.jpg">
				<img class="pic" src="images/p7.jpg">
				<img class="pic" src="images/p8.jpg">
			</div>
		</div>
	</div>
</body>
