<div class="pagecontainer">
	<div id="mobilejsquery"></div>
	<div id="tabletjsquery"></div>
	<div id="desktopjsquery"></div>
	<div class="contentcontainer">

		<div class="centercontainer"> 
			<div class="centercontainer imagelinkscontainer">
				<img class="pageheaderimg" src="images/background4.jpg">
				<p class="absbox whitetextlink">Gallery</p>
			</div>
		</div>

		<div class="centercontainer">
			<div class="divider"></div>
		</div>

		<div class="centercontainer">
			<div class="centerbox">
				<p class="textbox">All the images shown here were taken by a member of one of our projects, participants are encouraged to chronicle their journey through the workshops to help inspire others</p>
			</div>
		</div>

		<div id="photocontainer">
			<div id="c1" class="photocolumn">
			<!-- Images inserted here -->
			</div>
			<div id="c2" class="photocolumn">
			<!-- Images inserted here -->	
			</div>
			<div id="c3" class="photocolumn">
			<!-- Images inserted here -->
			</div>
			<div id="c4" class="photocolumn">	
			<!-- Images inserted here -->
			</div>
		</div>
		<div id="totop" class="divider">
			<p>To Top</p>
		</div>
	</div>
</div>

