<div class="pagecontainer">

	<div class="contentcontainer">

		<div class="homecontainer centercontainer"> 
			<img class="backgroundimg i1 rotate" src="images/background5.jpg">
			<img class="backgroundimg i2" src="images/background12.jpg">
			<div class="homeheader">
				<div class="absbox t2 ">EarthWorks</div>
				<div class="absbox t1">Geoponics</div>
			</div>
		</div>

		<div class="centercontainer">
			<div class="divider"></div>
		</div>

		<div class="centercontainer">	
			<div class="centerbox">
				<h2 class="header">Who are we?</h2>
				<p class="textbox">Geoponics carry out participatory environmental education projects for all ages and abilities as well as gardening and landscaping services in the local area. We enocourage people to be closer with the earth and understand ways we can co-exist with nature. </p>
				<div class="rowcolcontainer">
					<div class="centercontainer margin"> 
						<img class="linkimg" src="images/Link2.jpg">
						<div class="absbox"> 
							<a class="imagetextlink" href="/workshops">Discover your local species</a>
						</div>
					</div>
					<div class="centercontainer margin"> 
						<img class="linkimg" src="images/background8.jpg">
						<div class="absbox"> 
							<a class="imagetextlink" href="/workshops">Recycle with Bokashi Buckets</a>
						</div>
					</div>
					<div class="centercontainer margin"> 
						<img class="linkimg" src="images/background14.jpg">
						<div class="absbox"> 
							<a class="imagetextlink" href="/workshops">Learn to forage</a>
						</div>
					</div>	
				</div>
				<h2 class="header">Nature through the seasons</h2>
				<p class="textbox"> As nature is seasonal so are our workshops and they differ throughout the year. As well as year round workshops such as making Bokashi buckets or throwing Olla pots some of our seasonal workshops include growing mushrooms or microgreens and foraging for wild foods. Take a look at the gallery to see what the results of some of the greta things that were created by our participants!</p>
			</div>
		</div>

		<div class="centercontainer">
			<div class="divider"></div>
		</div>

		<div class="homecontainer centercontainer"> 
			<img class="backgroundimg i1" src="images/background6.jpg">
			<img class="backgroundimg i2" src="images/background11.jpg">
			<div class="homeheader2 homeheader">
				<div class="absbox t2">Facilitate</div>
				<div class="absbox t1">Participate</div>
			</div>
		</div>		

		<div class="centercontainer">
			<div class="divider"></div>
		</div>

		<div class="centercontainer">
			<div class="centerbox">
				<h2 class="header">Inclusivity</h2>
				<p class="textbox">Nature is a vast canvas so there is something for everyone to find, our workshops are made to include people of all abilities. We run regular community classes for interested individuals and our workshops page will let you see the sorts of things you could arrange at your local school or community gardens! So there are lots of ways to get involved. Once you have decided on the route you want to take just go to our booking page, there you will find contact information to arrange scheduling your workshop or a list of current open classes we have running around west-yorkshire.</p>
			</div>
		</div>

		<div class="centercontainer">
			<div class="divider"></div>
		</div>

		<div class="centercontainer">
			<a class="centercontainer imagelinkscontainer" href="/gallery">
				<img class="backgroundimglink" src="images/background4.jpg">
				<p class="absbox whitetextlink">See the gallery</p>
			</a> 
		</div>

		<div class="centercontainer"> 
			<a class="centercontainer imagelinkscontainer" href="/workshops">
				<img class="backgroundimglink" src="images/background13.jpg">
				<p class="absbox whitetextlink">See the workshops</p>
			</a>
		</div>

		<div class="centercontainer"> 
			<a class="centercontainer imagelinkscontainer" href="/booking">
				<img class="backgroundimglink" src="images/background3.jpg">
				<p class="absbox whitetextlink">Find or book your class</p>
			</a>
		</div>
<!-- 
		<div class="centercontainer">
			<div class="divider"></div>
		</div>

		<footer class="myfooter textbox">
			<a href="/">Home</a>
			<a href="/gallery">Gallery</a>
			<a href="/workshops">Workshop</a>
			<a href="/booking">Booking</a>
		</footer> -->

	</div>

</div>
