	<div class="pagecontainer">

		<div class="contentcontainer">

			<div class="centercontainer"> 
				<img id="backgroundimg" src="images/background3.jpg">
				<div class="abscontainercolumn">
					<p class="textbox"> Welcome to Geoponics, a practical and educational place for horticulture</p>
					<div class="rowcolcontainer">
						<p class="textsmall textbox"> <i>The art of gardening and farming in soil.</i> </p>
					</div>
				</div>
			</div>

			<div class="centercontainer">
				<div class="divider"></div>
			</div>


			<div class="centercontainer">	
				<div class="centerbox">
					<p class="textbox"> We deliver workshops across West-Yorkshire suitable for all ages and abilities. </p>
					<div class="rowcolcontainer">
						<div class="centercontainer margin"> 
							<img class="pic" src="images/PLink2.jpg">
							<div class="abscontainercolumn"> 
								<p class="textsmall textbox"> <a href="/gallery">Discover your local species</a> </p> 
							</div>
						</div>
						<div class="centercontainer margin"> 
							<img class="pic" src="images/PLink3.jpg">
							<div class="abscontainercolumn"> 
								<p class="textsmall textbox"> <a href="/gallery">Recycle with Bokashi Buckets</a> </p> 
							</div>
						</div>
						<div class="centercontainer margin"> 
							<img class="pic" src="images/PLink1.jpg">
							<div class="abscontainercolumn"> 
								<p class="textsmall textbox"> <a href="/gallery">Learn to forage</a> </p> 
							</div>
						</div>	
					</div>
					<p class="textbox"> See the workshops </p>
				</div>
			</div>

			<div class="centercontainer">
				<div class="divider"></div>
			</div>

			<div class="centercontainer"> 
				<img id="backgroundimg" src="images/background2.jpg">
				<div class="abscontainercolumn">
					<p class="textbox"> We also offer effective and enovironmentally friendly landscaping services  </p>
					<p class="textsmall textbox"> (some link) </p>
				</div>
			</div>

			<div class="centercontainer">
				<div class="divider"></div>
			</div>

		</div>

	</div>
