	<div class="pagecontainer">

		<div class="contentcontainer">

			<div class="centercontainer"> 
				<img class="backgroundimg" src="images/background3.jpg">
				<div id="homeheader">
					<div id="t2" class="absbox">EarthWorks</div>
					<div id="t1" class="absbox">Geoponics</div>
				</div>
			</div>

			<div class="centercontainer">
				<div class="divider"></div>
			</div>


			<div class="centercontainer">	
				<div class="centerbox">
					<p class="textbox"> We deliver workshops across West-Yorkshire suitable for all ages and abilities. </p>
					<div class="rowcolcontainer">
						<div class="centercontainer margin"> 
							<img class="pic" src="images/PLink2.jpg">
							<div class="abscontainercolumn"> 
								<p class="textsmall textbox"> <a href="/gallery">Discover your local species</a> </p> 
							</div>
						</div>
						<div class="centercontainer margin"> 
							<img class="pic" src="images/PLink3.jpg">
							<div class="abscontainercolumn"> 
								<p class="textsmall textbox"> <a href="/gallery">Recycle with Bokashi Buckets</a> </p> 
							</div>
						</div>
						<div class="centercontainer margin"> 
							<img class="pic" src="images/PLink1.jpg">
							<div class="abscontainercolumn"> 
								<p class="textsmall textbox"> <a href="/gallery">Learn to forage</a> </p> 
							</div>
						</div>	
					</div>
					<p class="textbox"> See the workshops </p>
				</div>
			</div>

			<div class="centercontainer">
				<div class="divider"></div>
			</div>

			<div class="centercontainer"> 
				<img class="backgroundimg" src="images/background2.jpg">
				<div class="abscontainercolumn">
					<p class="textbox"> Take a look at the Workshops we have running this year!</p>
					<a href="/workshops">See the Workshops</a>
				</div>
			</div>

			<div class="centercontainer">
				<div class="divider"></div>
			</div>

		</div>

	</div>
