<div class="pagecontainer"> 
	<div class="contentcontainer">
		<div class="workshopgrid">
			<div ng-repeat="workshop in workshopdata">
				<div class="workshopbox">
					<h1>{{workshop.name}}</h1>
					<img ng-src="{{workshop.workshopimg}}" class="workshoppic">
					<uib-tabset active="activeJustified" justified="true" class="box2">
						    <uib-tab index="0" heading="About" class="workshoptab">
						    	<h3>{{workshop.blerb}}</h3>
						    	<div class="workshoptext">{{workshop.description}}</div>
						    </uib-tab>
						    <uib-tab index="1" heading="Season" class="workshoptab">
						    	<div class="workshoptext">{{workshop.months}}</div>
						    </uib-tab>
						    <uib-tab index="2" heading="Age" class="workshoptab">
						    	<div class="workshoptext">{{workshop.age}}</div>
						    </uib-tab>
						    <uib-tab index="3" heading="Materials" class="workshoptab">
						    	<div class="workshoptext">{{workshop.materials}}</div>
						    </uib-tab>
					</uib-tabset>	
				</div>
			</div>
		</div>		
	</div>
</div>
